@page
@model ForgotPasswordConfirmation

@using Microsoft.AspNetCore.Mvc.Localization
@using Tasneef;
@inject IHtmlLocalizer<SharedResource> Localizer


@{
    Layout = "~/Views/Shared/_Layout_External.cshtml";
    ViewData["Title"] = Localizer["Forgot password confirmation"];
}



<div class="login-register" style="background-image:url(~/assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <h3>@ViewData["Title"]</h3>
            <hr />
            <p>
                @Localizer["Please check your email to reset your password."]
            </p>
            <a href="~/"> @Localizer["Click here"] </a> @Localizer["to login"]
        </div>
    </div>
</div>

