@page
@model ForgotPasswordModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Tasneef;
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    Layout = "~/Views/Shared/_Layout_External.cshtml";
    ViewData["Title"] = Localizer["Forgot your password?"];
}


<div class="login-register" style="background-image:url(~/assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">

            <h3 class="text-center m-b-20">@ViewData["Title"]</h3>
            <hr />
            <h4>@Localizer["Enter your email"].</h4>

            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">

                            <div class="col-xs-12">

                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
