@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

    
        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a class="waves-effect waves-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <i class="icon-settings"></i>
                    <span class="hide-menu">
                        إعدادات المستخدم
                        </span>

                </a>
            </li>
           

            


        }
        
    
